on: [ push, pull_request ]
jobs:
    test-82:
        runs-on: ubuntu-22.04
        steps:
            -   uses: actions/checkout@v3
            -   uses: shivammathur/setup-php@v2
                with:
                    php-version: 8.2
                    tools: composer:v2
                    coverage: none

            -   run: composer install -o

            -   name: unit tests
                run: php vendor/bin/phpunit

            -   name: code style
                run: php vendor/bin/phpcs

            -   name: psalm static analysis
                run: php vendor/bin/psalm

    test-84:
        runs-on: ubuntu-22.04
        steps:
            -   uses: actions/checkout@v3
            -   uses: shivammathur/setup-php@v2
                with:
                    php-version: 8.4
                    tools: composer:v2
                    coverage: none
            -   run: composer install -o --ignore-platform-reqs # vimeo/psalm is not supported yet on PHP 8.4

            -   name: unit tests
                run: php vendor/bin/phpunit

    test-85:
        runs-on: ubuntu-22.04
        steps:
            -   uses: actions/checkout@v3
            -   uses: shivammathur/setup-php@v2
                with:
                    php-version: 8.5
                    tools: composer:v2
                    coverage: none
            -   run: composer install -o --ignore-platform-reqs # vimeo/psalm is not supported yet on PHP 8.4

            -   name: unit tests
                run: php vendor/bin/phpunit
